#####################################
#           Default Settings        #
#         Version 1 2023-08-17      #
#####################################

[gcode_macro _defaultcfg]
################################
#### Notification Settings #####
################################
variable_notify_output: 117                        # Select 116, 117 or 118 to specify output method for feedback
variable_notify_led_status: False                  # Use LED Status macros such as on the stealthburner
variable_notify_audio_status: False                # Use audio feedback macros
variable_notify_audio_freq: 5                      # The frequency to repeat the audio tone
variable_notify_audio_macro: 'CHANGE_TUNE'         # The frequency to repeat the audio tone
variable_notify_use_telegram: False                # Use Telegram feedback macros
variable_notify_use_fluidd: True                   # Output subsequent macro commands to console
variable_notify_error_output: 118                  # Select 116, 117, or 118 to specify output method for feedback
variable_notify_status_led: 'Stealthburner'
variable_notify_status_led_index: 1
variable_notify_chamber_led: 'caseled'
#LED Presets
variable_notify_led_status_ready: 'STATUS_READY'
variable_notify_led_status_busy: 'STATUS_BUSY'
variable_notify_led_status_homing: 'STATUS_HOMING'
variable_notify_led_status_z_calibrating: 'STATUS_CALIBRATING_Z'
variable_notify_led_status_mesh: 'STATUS_MESHING'
variable_notify_led_status_clean: 'STATUS_CLEANING'
variable_notify_led_status_heat_extruder: 'STATUS_HEATING_EXTRUDER'
variable_notify_led_status_heat_bed: 'STATUS_HEATING_BED'
variable_notify_led_status_printing: 'STATUS_PRINTING'
variable_notify_led_status_error: 'STATUS_ERROR'
variable_notify_led_status_m600: 'STATUS_M600'
variable_notify_led_status_load: 'STATUS_701'
variable_notify_led_status_part_ready: 'STATUS_PART_READY'
variable_notify_led_status_unload: 'STATUS_M702'
#Audio Tones
variable_notify_tone_start: 'PRINT_START_TUNE'
variable_notify_tone_error: 'GAME_OVER_TUNE'
variable_notify_tone_success: 'MARIO_TUNE'
variable_notify_tone_resume: 'START_TONES'
variable_notify_tone_m600: 'CHANGE_TUNE'
variable_notify_tone_clean: 'CLEAN_NOZZLE'
variable_notify_tone_alert_on: 'ALERT_BEEP_ON'
# Use Telegram feedback macros
variable_notify_telegram_runout: 'TELEGRAM_FILAMENT_RUNOUT'
variable_colors: {
        'logo': { # Colors for logo states
            'busy': {'r': 0.4, 'g': 0.0, 'b': 0.0, 'w': 0.0},
            'cleaning': {'r': 0.0, 'g': 0.02, 'b': 0.5, 'w': 0.0},
            'calibrating_z': {'r': 0.8, 'g': 0., 'b': 0.35, 'w': 0.0},
            'heating': {'r': 0.3, 'g': 0.18, 'b': 0.0, 'w': 0.0},
            'homing': {'r': 0.0, 'g': 0.6, 'b': 0.2, 'w': 0.0},
            'leveling': {'r': 0.5, 'g': 0.1, 'b': 0.4, 'w': 0.0},
            'meshing': {'r': 0.2, 'g': 1.0, 'b': 0.0, 'w': 0.0},
            'off': {'r': 0.0, 'g': 0.0, 'b': 0.0, 'w': 0.0},
            'printing': {'r': 1.0, 'g': 0.0, 'b': 0.0, 'w': 0.0},
            'standby': {'r': 0.01, 'g': 0.01, 'b': 0.01, 'w': 0.1},
        },
        'nozzle': { # Colors for nozzle states
            'heating': {'r': 0.8, 'g': 0.35, 'b': 0.0, 'w':0.0},
            'off': {'r': 0.0, 'g': 0.0, 'b': 0.0, 'w': 0.0},
            'on': {'r': 0.8, 'g': 0.8, 'b': 0.8, 'w':1.0},
            'standby': {'r': 0.6, 'g': 0.0, 'b': 0.0, 'w':0.0},
        },
        'thermal': {
            'hot': {'r': 1.0, 'g': 0.0, 'b': 0.0, 'w': 0.0},
            'cold': {'r': 0.3, 'g': 0.0, 'b': 0.3, 'w': 0.0}
        }
    }
gcode:
